<h2>Update Movie Entry</h2>
</div>
<form class="form">
  <div class="container">
      <label for="MovieEntry">Movie Title</label>
      <input [(ngModel)] ="createMovie.Title" type="text" class="form-control" name="Title" required ng-model/>

  </div>

  <div class="container">
    <label for="MovieEntry">Description</label>
    <input [(ngModel)] ="createMovie.Description" type="text" class="form-control" name="Description" required ng-model/>

</div>

<div class="container">
  <label for="MovieEntry">Year Released</label>
  <input [(ngModel)] ="createMovie.releaseYear" type="number" class="form-control" name="releaseYear" required ng-model/>

</div>
<div class="container">
  <label for="MovieEntry"> Genre</label>
  <input [(ngModel)] ="createMovie.Genre" type="text" class="form-control" name="Genre" required ng-model/>

</div>

<div class="container">
  <label for="MovieEntry">Date Created</label>
  <input [(ngModel)] ="createMovie.dateCreated" type="date" class="form-control" name="dateCreated" required ng-model/>

</div>
<div class="container">
  <label for="MovieEntry">Date Updated</label>
  <input [(ngModel)] ="createMovie.DateUpdated" type="date" class="form-control" name="DateUpdated" required ng-model/>

</div>
<button class="btn btn-succes"type="submit" > Create Movie</button>
</form>